
<!DOCTYPE html>

<html lang="en">

	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" />

		<title>Tree Management</title>
	</head>
	<body>
		<section>
			<div class="form-box">
				<div class="form-value">
					<form action="http://localhost:5000/login" method = "post">
						<h2>Login</h2>
						<div class="inputbox">
							<input type="email" name="user" required>
							<label for="">Email</label>
						</div>
						<div class="inputbox">
							<input type="password" name="password" required>
							<label for="">Password</label>
						</div>
						<div class="forget">
							<label for=""><input type="checkbox">Remember Me</label>
							<a href="#">Forget Password</a>
						</div>
						<button>Log in</button>
					</form>
				</div>

			</div>
		</section>
	</body>
</html>

